@import url(https://fonts.googleapis.com/css?family=Roboto:300);

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    float:left;
    width: 60%;
}

#topicButton{
  background-color: #9c40d6;
  border-color: #8521c4;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  border-radius: 10%;
  padding: 1.5%;
}

#topic{
  margin-left: 10%;
  margin-top: 5%;
}

#navb {
    color: purple;
}

#header {
    margin-left: 10%;
    margin-top: 1%;
    padding-left: 5%;
    border-bottom: 2px solid purple;



    width: 50%;

}

h2 {
    color:purple;
}

h1 {
    color:purple;
    text-align: center;
    font-size: 60px;
        font-family: 'BebasNeueRegular';
   font-weight: normal;
   font-style: normal;
}

#text {
    margin-left: 45%;
}
